import React, { RefObject } from 'react';
import classnames from 'classnames';

import styles from './{{componentName}}.style.module.css';
import { Momentum{{componentName}}Props} from './';

const {{componentName}} = (props: Momentum{{componentName}}Props, ref: RefObject<HTMLDivElement>) => {
  const {className} = props;

  return (
    <div {...props} ref={ref} className={classnames(styles.wrapper, className)}>
      {/* Implementation goes here */}
    </div>
  );
};

/**
 * TODO: Add description of component here.
 */
const _{{componentName}} = React.forwardRef({{componentName}});
_{{componentName}}.displayName = '{{componentName}}';

export {_{{componentName}} as {{componentName~}}};

